* {
  margin: 0;
  padding: 0;
}

body {
  background: #018ded;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transition: transform 0.05s;
}

.hour-hand {
  height: 8px;
  background-color: #fff;
}

.second-hand {
  height: 1px;
  background-color: red;
}
